In [1]:
print("hello world")

hello world

In [2]:
print("hello world")

hello world

### python 연습
* print
* 연산
``` print("hello world")```

In [3]:
# hello world 출력
"""
안녕하세요
월드입니다
"""
print("hello world")

hello world

In [4]:
x = input("입력해주세요:")
x

입력해주세요:5

'5'

In [5]:
print(x)

5

In [6]:
x=input("입력해주세요:")
print(x)

입력해주세요:5
5

### 산술연산

In [7]:
print(1+2)

3

In [8]:
1-2

-1

In [9]:
5*2

10

In [10]:
5/2

2.5

In [11]:
5//2

2

In [12]:
9%2

1

In [13]:
2**3

8

In [14]:
(2+3)*2

10

In [15]:
type(2)

int

In [16]:
type(2.5)

float

In [17]:
int(10.7)

10

In [18]:
float(10)

10.0

In [19]:
float(10/3)

3.3333333333333335

In [20]:
int(5/2)

2

In [21]:
float(5/2)

2.5

### 변수

In [22]:
x=20
y=30
c=x+y
c

50

In [23]:
x=20

In [24]:
y=30

In [25]:
x+y

50

In [26]:
x=10

In [27]:
x+10

20

In [28]:
x

10

In [29]:
x=x+10
x

20

In [30]:
x

20

In [31]:
x+=10

In [32]:
x

30

In [34]:
x=None

In [35]:
print(x)

None

In [36]:
type(x)

NoneType

In [41]:
x = input("x 값을 입력해주세요:")
int(x)

x 값을 입력해주세요:20

20

In [42]:
y = input("y 값을 입력해주세요:")
int(y)

y 값을 입력해주세요:30

30

In [46]:
c=int(x)+int(y)
c

50

In [48]:
x=input("x 값을 입력해주세요: ")
y=input("y 값을 입력해주세요: ")

x 값을 입력해주세요: 20
y 값을 입력해주세요: 30

In [49]:
int(x)+int(y)

50

In [50]:
x=int(x)
y=int(y)

In [52]:
x+y

50

### Boolean과 비교, 논리연산자

In [53]:
x = input("첫번째 점수 : ")
y = input("두번째 점수 : ")
z = input("세번째 점수 : ")

첫번째 점수 : 20
두번째 점수 : 70
세번째 점수 : 80

In [58]:
int(x)>65 and int(y)>65 and int(z)>65

False

In [59]:
x = input("첫번째 점수 : ")
y = input("두번째 점수 : ")
z = input("세번째 점수 : ")

첫번째 점수 : 70
두번째 점수 : 80
세번째 점수 : 90

In [60]:
int(x)>65 and int(y)>65 and int(z)>65

True

In [65]:
x = input("첫번째 점수 : ")
y = input("두번째 점수 : ")
z = input("세번째 점수 : ")

print(int(x)>65 and int(y)>65 and int(z)>65)

첫번째 점수 : 70
두번째 점수 : 80
세번째 점수 : 90
True

### 문자형

In [66]:
word = "apple banana"

In [67]:
len(word)

12

In [68]:
word

'apple banana'

In [70]:
word.upper()

'APPLE BANANA'

In [71]:
word = word.upper()

In [72]:
word

'APPLE BANANA'

In [73]:
word=word.lower()
word

'apple banana'

In [75]:
word.replace('apple','orange')

'orange banana'

In [78]:
word=word.replace('apple','orange')
word

'banana banana'

In [79]:
word="apple banana"

In [80]:
word

'apple banana'

In [82]:
name = "tom"

In [83]:
print("i am " + name + "!")

i am tom!

In [84]:
print("I am %s!" % name)

I am tom!

In [86]:
print("I am %10s!" % name)

I am        tom!

In [87]:
print("I am %-10s!" % name)

I am tom       !

In [88]:
f1,f2 = "apple","banana"

In [91]:
print("I like %s, %s" % (f1,f2))

I like apple, banana

In [92]:
n1,n2 = 3,3.2323

In [101]:
print("n1 = %d, n2 = %d" % (n1,n2))

n1 = 3, n2 = 3

In [102]:
print("n1 = %d, n2 = %f" % (n1,n2))

n1 = 3, n2 = 3.232300

In [103]:
print("n1 = %d, n2 = %.2f" % (n1,n2))

n1 = 3, n2 = 3.23

In [116]:
x = input("아무 문자나 입력해주세요 : ")
x.replace(" ","")

아무 문자나 입력해주세요 : 안녕하세요 반갑습니다.

'안녕하세요반갑습니다.'

In [119]:
input_str=input("아무 문자나 입력해주세요 : ")

아무 문자나 입력해주세요 : 안녕하세요 반갑습니다.

In [120]:
input_str.replace(" ","")

'안녕하세요반갑습니다.'

In [113]:
a = input("이름을 입력해 주세요: ")
name = a
x = input("첫번째 점수를 입력해주세요 : ")
name = x
y = input("두번째 점수를 입력해주세요 : ")
name = y
z = input("세번째 점수를 입력해주세요 : ")
name = z
s = int(x)+int(y)+int(z)

print("저의 이름은 %s 이고 총점은 %d 입니다." % (a,s))

이름을 입력해 주세요: 홍길동
첫번째 점수를 입력해주세요 : 80
두번째 점수를 입력해주세요 : 70
세번째 점수를 입력해주세요 : 60
저의 이름은 홍길동 이고 총점은 210 입니다.

In [124]:
a = input("이름을 입력해 주세요: ")
x = input("첫번째 점수를 입력해주세요 : ")
y = input("두번째 점수를 입력해주세요 : ")
z = input("세번째 점수를 입력해주세요 : ")
s = int(x)+int(y)+int(z)

"저의 이름은 {0} 이고 총점은 {1} 입니다.".format(a,s)

이름을 입력해 주세요: 홍길동
첫번째 점수를 입력해주세요 : 80
두번째 점수를 입력해주세요 : 70
세번째 점수를 입력해주세요 : 60

'저의 이름은 홍길동 이고 총점은 210 입니다.'

In [121]:
name = input("이름을 입력해 주세요: ")
score_1 = input("첫번째 점수를 입력해주세요: ")
score_2 = input("두번째 점수를 입력해주세요: ")
score_3 = input("세번째 점수를 입력해주세요: ")

이름을 입력해 주세요: 홍길동
첫번째 점수를 입력해주세요: 80
두번째 점수를 입력해주세요: 70
세번째 점수를 입력해주세요: 60

In [123]:
print("저의 이름은 {0} 이고 총점은 {1} 입니다.".format(name,(int(score_1)+int(score_2)+int(score_3))))

저의 이름은 홍길동 이고 총점은 210 입니다.

### 리스트와 튜플

In [125]:
a = [1, 2, 3, 4, 5, 6, 7]

In [127]:
a = list(range(1,7))
print(a)

[1, 2, 3, 4, 5, 6]

In [128]:
type(range(1,7))

range

In [129]:
a= list(range(1,8))
a

[1, 2, 3, 4, 5, 6, 7]

In [131]:
a= tuple(range(1,8))
a

(1, 2, 3, 4, 5, 6, 7)

In [132]:
list(range(-8,8,3))

[-8, -5, -2, 1, 4, 7]

In [133]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [142]:
a = list(range(10,0,-2))
a

[10, 8, 6, 4, 2]

In [143]:
a[1:3]

[8, 6]

In [144]:
a[1:-3]

[8]

In [145]:
a[-1]

2

In [146]:
a[1:-1:2]

[8, 4]

In [147]:
a[:3]

[10, 8, 6]

In [148]:
a[2:]

[6, 4, 2]

In [149]:
a[1:3]=["one","two"]

In [150]:
a

[10, 'one', 'two', 4, 2]

In [151]:
del a[1]
a

[10, 'two', 4, 2]

In [153]:
del a[1:3]
a

[10, 2]

In [154]:
a = list(range(10))

In [155]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [156]:
a[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [172]:
a = [1,2,3,4,5]

In [173]:
a.extend([6,7,8])

In [174]:
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [175]:
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [176]:
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [177]:
a = list(range(10))
1 in a

True

In [178]:
12 in a

False

In [179]:
9 in a

True

In [180]:
b=[10,11,12]

In [181]:
a+b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [182]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [183]:
b

[10, 11, 12]

In [184]:
len(a)

10

In [185]:
len(b)

3

In [186]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [187]:
a.append(10)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [211]:
x=input("숫자를 입력해주세요 : ")

숫자를 입력해주세요 : 10

In [212]:
even = list(range(2,int(x)+1,2))
even.append(int(x))
even

[2, 4, 6, 8, 10, 10]

In [215]:
y=input("숫자를 입력해주세요 : ")

숫자를 입력해주세요 : 20

In [216]:
even2 = list(range(2,int(y)+2,2))
even2.append(int(y))
even2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 20]

In [2]:
y=input("숫자를 입력해주세요 : ")
even2 = list(range(2,int(y)+2,2))
even2.append(int(y))
even2

숫자를 입력해주세요 : 20

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 20]