## 딕셔너리

In [2]:
name = input("이름을 입력해주세요 : ")
age = input("나이를 입력해주세요 : ")
tel = input("연락처를 입력해주세요 : ")

phone = {"이름": name,"나이": age, "연락처": tel}
phone

이름을 입력해주세요 : 홍길동
나이를 입력해주세요 : 27
연락처를 입력해주세요 : 010-1234-5678

{'이름': '홍길동', '나이': '27', '연락처': '010-1234-5678'}

In [3]:
name1 = input("이름을 입력해주세요 : ")
age1 = input("나이를 입력해주세요 : ")
tel1 = input("연락처를 입력해주세요 : ")
name2 = input("이름을 입력해주세요 : ")
age2 = input("나이를 입력해주세요 : ")
tel2 = input("연락처를 입력해주세요 : ")

phone = [{"이름": name1,"나이": age1, "연락처": tel1},{"이름": name2, "나이": age2, "연락처": tel2}]
phone

이름을 입력해주세요 : 홍길동
나이를 입력해주세요 : 27
연락처를 입력해주세요 : 010-1234-5678
이름을 입력해주세요 : 이몽룡
나이를 입력해주세요 : 30
연락처를 입력해주세요 : 010-1234-5678

[{'이름': '홍길동', '나이': '27', '연락처': '010-1234-5678'},
 {'이름': '이몽룡', '나이': '30', '연락처': '010-1234-5678'}]

In [5]:
name = input("이름을 입력해주세요 : ")
age = input("나이를 입력해주세요 : ")
tel = input("연락처를 입력해주세요 : ")

phone = dict(이름=name, 나이=age, 연락처=tel)
phone

이름을 입력해주세요 : 홍길동
나이를 입력해주세요 : 27
연락처를 입력해주세요 : 010-1234-5678

{'이름': '홍길동', '나이': '27', '연락처': '010-1234-5678'}

In [10]:
name1 = input("이름을 입력해주세요 : ")
age1 = input("나이를 입력해주세요 : ")
tel1 = input("연락처를 입력해주세요 : ")
name2 = input("이름을 입력해주세요 : ")
age2 = input("나이를 입력해주세요 : ")
tel2 = input("연락처를 입력해주세요 : ")

phone = dict(이름=name1, 나이=age1, 연락처=tel1),dict(이름=name2, 나이=age2, 연락처=tel2)
phone

이름을 입력해주세요 : 홍길동
나이를 입력해주세요 : 27
연락처를 입력해주세요 : 010-1234-5678
이름을 입력해주세요 : 이몽룡
나이를 입력해주세요 : 30
연락처를 입력해주세요 : 010-1234-5678

({'이름': '홍길동', '나이': '27', '연락처': '010-1234-5678'},
 {'이름': '이몽룡', '나이': '30', '연락처': '010-1234-5678'})

In [11]:
name1 = input("이름을 입력해주세요 : ")
age1 = input("나이를 입력해주세요 : ")
tel1 = input("연락처를 입력해주세요 : ")

이름을 입력해주세요 : 홍길동
나이를 입력해주세요 : 27
연락처를 입력해주세요 : 010-1234-5678

In [12]:
name2 = input("이름을 입력해주세요 : ")
age2 = input("나이를 입력해주세요 : ")
tel2 = input("연락처를 입력해주세요 : ")

이름을 입력해주세요 : 이몽룡
나이를 입력해주세요 : 30
연락처를 입력해주세요 : 010-1234-5678

In [13]:
contacts = []

In [14]:
contacts.append({'이름':name1,'나이':age1,'연락처':tel1})

In [15]:
contacts

[{'이름': '홍길동', '나이': '27', '연락처': '010-1234-5678'}]

In [16]:
contacts.append({'이름':name2,'나이':age2,'연락처':tel2})

In [17]:
contacts

[{'이름': '홍길동', '나이': '27', '연락처': '010-1234-5678'},
 {'이름': '이몽룡', '나이': '30', '연락처': '010-1234-5678'}]

## 조건문 if

In [30]:
score_1=input("첫번째 점수를 입력해주세요 : ")
score_2=input("두번째 점수를 입력해주세요 : ")
score_3=input("세번째 점수를 입력해주세요 : ")

첫번째 점수를 입력해주세요 : 50
두번째 점수를 입력해주세요 : 60
세번째 점수를 입력해주세요 : 90

In [31]:
if 0 < int(score_1) | int(score_1) >100 :
    print("잘못된 점수가 입력되었습니다")
elif 0 < int(score_2) | int(score_2) >100 :
    print("잘못된 점수가 입력되었습니다")
elif 0 < int(score_3) | int(score_3) >100 :
    print("잘못된 점수가 입력되었습니다") 
elif int(score_1) >= 65 and int(score_2) >= 65 and int(score_3) >= 65:
    print("합격")
else:
    print("불합격")

불합격

In [32]:
score_1=input("첫번째 점수를 입력해주세요 : ")
score_2=input("두번째 점수를 입력해주세요 : ")
score_3=input("세번째 점수를 입력해주세요 : ")

if 0 < int(score_1) | int(score_1) >100 :
    print("잘못된 점수가 입력되었습니다")
elif 0 < int(score_2) | int(score_2) >100 :
    print("잘못된 점수가 입력되었습니다")
elif 0 < int(score_3) | int(score_3) >100 :
    print("잘못된 점수가 입력되었습니다") 
elif int(score_1) >= 65 and int(score_2) >= 65 and int(score_3) >= 65:
    print("합격")
else:
    print("불합격")

첫번째 점수를 입력해주세요 : 120
두번째 점수를 입력해주세요 : 90
세번째 점수를 입력해주세요 : 80
잘못된 점수가 입력되었습니다

In [55]:
fruit={'사과','오렌지'}
vegetable={'당근','호박'}

In [88]:
cat=input("등록할 카테고리를 선택해주세요(과일,채소) : ")
veg=input("등록할 {}를 입력해주세요 : ".format(cat))

등록할 카테고리를 선택해주세요(과일,채소) : 채소
등록할 채소를 입력해주세요 : 오이

In [91]:
if cat == "채소":
    vegetable.add(veg)
    if vegetable.isdisjoint(cat) == False:
        print("이미 등록된 {}입니다.".format(cat))
    else:
        print(vegetable)
    
elif cat == "과일":
    fruit.add(veg)
    if fruit.isdisjoint(cat) == False:
        print("이미 등록된 {}입니다.".format(cat))
    else:
        print(fruit)
        
else:
        print("존재하지 않는 카테고리입니다.")

{'호박', '오이', '당근'}

In [96]:
if cat == "채소":
    if vegetable.isdisjoint(veg) == False:
        print("이미 등록된 {}입니다.".format(cat))
    else:
        vegetable.add(veg)
        print(vegetable)
    
elif cat == "과일":
    if fruit.isdisjoint(veg) == False:
        print("이미 등록된 {}입니다.".format(cat))
    else:
        fruit.add(veg)
        print(fruit)
        
else:
        print("존재하지 않는 카테고리입니다.")

{'호박', '오이', '당근'}

In [97]:
fruit = ['사과','오렌지']
vegetable = ['당근','호박']

In [98]:
category=input("등록할 카테고리를 선택해주세요(과일,채소) : ")

등록할 카테고리를 선택해주세요(과일,채소) : 채소

In [99]:
item=input("등록할 {}를 입력해주세요 : ".format(category))

등록할 채소를 입력해주세요 : 당근

In [100]:
if category in ["과일","채소"]:
    if category == "과일":
        if item in fruit:
            print("이미 등록된 {}입니다.".format(category))
        else:
            fruit.append(item)
            print(fruit)
    else:
        if item in vegetable:
            print("이미 등록된 {}입니다.".format(category))
        else:
            vegetable.append(item)
            print(vegetable)
            
else:
    print("존재하지 않는 카테고리입니다.")

이미 등록된 채소입니다.

## 반복문 for

In [101]:
x=[3,6,9,20,-7,5]

In [110]:
for i in x:
    print(i*10,end=" ")

30 60 90 200 -70 50

In [111]:
y={"math":70,"science":80,"english":20}

In [167]:
for i in y:
    print(i,end=" "),print(y[i]+10,end=" ")

math 80 science 90 english 30

In [152]:
y={"math":70,"science":80,"english":20}

In [183]:
for key, value in y.items():
    print("{0}:{1}".format(key,value+10),end=" ")

math:80 science:90 english:30

In [154]:
num=int(input("몇단을 출력하시겠습니까? "))
for i in range(1,10):
    print(num,"*",i,"=",num*i)

몇단을 출력하시겠습니까? 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [184]:
x=[3,6,9,20,-7,5]

In [185]:
for idx in range(len(x)):
    x[idx] = x[idx] * 10
x

[30, 60, 90, 200, -70, 50]

In [186]:
y={"math":70,"science":80,"english":20}

In [187]:
for score in y:
    y[score] = y[score] + 10
y

{'math': 80, 'science': 90, 'english': 30}

In [188]:
dan = int(input("몇단을 출력하시겠습니까?"))

몇단을 출력하시겠습니까?3

In [189]:
for i in range(1,9):
    print("{} * {} = {}".format(dan,i,dan * i))

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24

In [190]:
for i in range(1,9):
    print(f"{dan} * {i} = {dan*i}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24

In [359]:
word=["school","game","piano","science","hotel","mountain"]

In [392]:
word=["school","game","piano","science","hotel","mountain"]

for i in word:
    if len(i) >= 6:
        pass
    else:
        word.remove(i)
print(word)

['school', 'piano', 'science', 'mountain']

In [375]:
for x in range(1,10):
    for y in range(1,10):
        print(f"{x} * {y} = {x*y}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [376]:
a= [3,4,6,20,-7,5]

In [384]:
range(len(a)-1)

range(0, 5)

In [385]:
for i in range(len(a)-1):          
    for j in range(i+1,len(a)):
        if a[i] > a[j]:
            a[i], a[j] = a[j], a[i]
a

[-7, 3, 4, 5, 6, 20]

In [387]:
for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0:
        print("3과 5의 공배수")
    elif i % 3 == 0:
        print("3의 공배수")
    elif i % 5 == 0:
        print("5의 공배수")
    else:
        print(i)

1
2
3의 공배수
4
5의 공배수
3의 공배수
7
8
3의 공배수
5의 공배수
11
3의 공배수
13
14
3과 5의 공배수
16
17
3의 공배수
19
5의 공배수
3의 공배수
22
23
3의 공배수
5의 공배수
26
3의 공배수
28
29
3과 5의 공배수
31
32
3의 공배수
34
5의 공배수
3의 공배수
37
38
3의 공배수
5의 공배수
41
3의 공배수
43
44
3과 5의 공배수
46
47
3의 공배수
49
5의 공배수
3의 공배수
52
53
3의 공배수
5의 공배수
56
3의 공배수
58
59
3과 5의 공배수
61
62
3의 공배수
64
5의 공배수
3의 공배수
67
68
3의 공배수
5의 공배수
71
3의 공배수
73
74
3과 5의 공배수
76
77
3의 공배수
79
5의 공배수
3의 공배수
82
83
3의 공배수
5의 공배수
86
3의 공배수
88
89
3과 5의 공배수
91
92
3의 공배수
94
5의 공배수
3의 공배수
97
98
3의 공배수
5의 공배수

## 반복문 while

In [201]:
i = 0

In [203]:
while i != 5:
    i =int(input("5를 입력하면 반복이 중단됩니다."))

5를 입력하면 반복이 중단됩니다.4
5를 입력하면 반복이 중단됩니다.3
5를 입력하면 반복이 중단됩니다.2
5를 입력하면 반복이 중단됩니다.1
5를 입력하면 반복이 중단됩니다.5

In [251]:
sum = 0
i=1

while i != 0:
    i = int(input("값을 입력해주세요 : "))
    sum = sum+i
    
print("합계는? " , sum)

값을 입력해주세요 : 30
값을 입력해주세요 : 20
값을 입력해주세요 : 50
값을 입력해주세요 : 40
값을 입력해주세요 : 30
값을 입력해주세요 : 0
합계는?  170

In [358]:
import random

win = 0
lose = 0
same = 0

user = 1
while (1 <= user <= 3):
    com = random.random()
    com = random.randint(1,3)
    user = int(input("가위(1), 바위(2), 보(3) 을 입력해주세요 : "))
    
    if com == 1:
        if user == 1:
            print("유저 : 가위, 컴퓨터 : 가위")
            same += 1
        if user == 2:
            print("유저 : 바위, 컴퓨터 : 가위")
            win += 1
        if user == 3:
            print("유저 : 보, 컴퓨터 :가위")
            lose += 1
    
    if com == 2:
        if user == 1:
            print("유저 : 가위, 컴퓨터 : 바위")
            lose += 1
        if user == 2:
            print("유저 : 바위, 컴퓨터 : 바위")
            same += 1
        if user == 3:
            print("유저 : 보, 컴퓨터 : 바위")
            win += 1
            
    if com == 3:
        if user == 1:
            print("유저 : 가위, 컴퓨터 : 보")
            win += 1
        if user == 2:
            print("유저 : 바위, 컴퓨터 : 보")
            lose += 1
        if user == 3:
            print("유저 : 보, 컴퓨터 : 보")
            same += 1
            
print("게임종료(전체:{}, 승리:{})".format(win+lose+same,win))

가위(1), 바위(2), 보(3) 을 입력해주세요 : 1
유저 : 가위, 컴퓨터 : 바위
가위(1), 바위(2), 보(3) 을 입력해주세요 : 2
유저 : 바위, 컴퓨터 : 바위
가위(1), 바위(2), 보(3) 을 입력해주세요 : 3
유저 : 보, 컴퓨터 : 바위
가위(1), 바위(2), 보(3) 을 입력해주세요 : 3
유저 : 보, 컴퓨터 :가위
가위(1), 바위(2), 보(3) 을 입력해주세요 : 4
게임종료(전체:4, 승리:1)

In [1]:
import random

win = 0
lose = 0
same = 0

user = 1
while (1 <= user <= 3):
    com = random.random()
    com = random.randint(1,3)
    user = int(input("가위(1), 바위(2), 보(3) 을 입력해주세요 : "))
    
    if com == 1:
        if user == 1:
            print("유저 : 가위, 컴퓨터 : 가위")
            same += 1
        if user == 2:
            print("유저 : 바위, 컴퓨터 : 가위")
            win += 1
        if user == 3:
            print("유저 : 보, 컴퓨터 :가위")
            lose += 1
    
    if com == 2:
        if user == 1:
            print("유저 : 가위, 컴퓨터 : 바위")
            lose += 1
        if user == 2:
            print("유저 : 바위, 컴퓨터 : 바위")
            same += 1
        if user == 3:
            print("유저 : 보, 컴퓨터 : 바위")
            win += 1
            
    if com == 3:
        if user == 1:
            print("유저 : 가위, 컴퓨터 : 보")
            win += 1
        if user == 2:
            print("유저 : 바위, 컴퓨터 : 보")
            lose += 1
        if user == 3:
            print("유저 : 보, 컴퓨터 : 보")
            same += 1
            
print("게임종료(전체:{}, 승리:{})".format(win+lose+same,win))

가위(1), 바위(2), 보(3) 을 입력해주세요 : 1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3) 을 입력해주세요 : 0
게임종료(전체:1, 승리:1)