In [50]:
import re

In [7]:
text = '''전국 언론 노동자들이 시민사회단체와 함께 네이버의 지역 차별을 규탄하고 개선을 촉구하는 무기한 릴레이 시위에 돌입했다.

전국언론노조와 전국 민주언론시민연합(민언련)은 1일 오전 11시 30분 경기도 성남시의 네이버 본사(그린팩토리) 앞에서 1인 시위를 시작했다. 이날 시위에는 오정훈 전국언론노동조합위원장, 전대식 지역신문노동조합협의회 의장(부산일보 지부장), 김명래 경인일보지부장, 민진영 경기민주언론시민연합 사무처장 등이 참여했다.

이들은 1인 시위를 통해 ‘네이버 뉴스 서비스 지역 언론 배제 개선’을 요구하고 ‘지역 공론장 형성을 위한 네이버의 공적 책임’을 촉구했다. 전국언론노조와 민언련은 매주 월요일마다 네이버 본사 앞 시위를 진행할 예정이다.

네이버는 최근 뉴스 서비스에 인공지능 에어스(AiRS) 알고리즘을 적용하는 방식으로 뉴스 편집 기능을 개편했다. 이후 지역 언론사 뉴스의 노출이 현격하게 줄어들었다. 아울러 100여 개 모바일 콘텐츠 제휴 언론사 중 독자가 구독을 선택할 수 있는 ‘채널’ 제휴사 44곳을 선정했는데 이 과정에서 지역 언론을 철저하게 배제했다. 이에 반발해 전국언론노조뿐 아니라 한국지방신문협회, 대한민국지방신문협의회 등 지역 신문 단체도 공동 성명을 발표하며 개선을 요구하고 나섰다. 전국시도의회의장협의회는 최근 총회에서 ‘네이버 지역 언론 배제 반대 성명’을 채택하기도 했다. 하지만 이 같은 반발에도 네이버는 뚜렷한 해결책을 내지 않고 있다.

오정훈 위원장은 1인 시위에서 “네이버는 해결책을 내놓기는커녕 뉴스제휴평가위원회에만 책임을 떠넘기고 있다”며 “지역 언론 배제 문제의 해결을 위한 대화 요구에 즉각 응답해 뉴스 유통사업자로서의 사회적 역할을 수행해야 한다”고 촉구했다.

전대식 의장은 “2005년 당시 네이버는 모든 언론사에 뉴스 유통망을 제공하는 우군이었지만 15년 만에 갑질하고 횡포하는 기업으로 전락했다”며 “지역 언론 종사자들이 만든 콘텐츠가 네이버에서 사라진 현실을 놓고 대화하고 상생적으로 풀어야 한다”면서 협의 창구 개설을 요구했다.

민언련은 국내 1위 포털 네이버가 지역 공론장을 만드는 사회적 책임을 외면하는 것은 현 정부의 지방분권 강화 정책에 위배되는 것이라고 지적했다.

민진영 사무처장은 “네이버가 지역신문에 대한 보도를 배제하고 시민들과의 소통 창구를 차단하는 것은 현 정부 정책인 지방분권 강화, 민주주의 정착이라는 큰 의제를 거역하는 것”이라며 “이런 행태는 반드시 중단돼야 하고 다양한 소식들이 소비자와 시민에게 전달돼야 한다”고 강조했다.

출처 : 제주新보(http://www.jejunews.com)'''
    
result=re.findall("네이버",text)
print(len(result))

13

In [6]:
text = '''전국 언론 노동자들이 시민사회단체와 함께 네이버의 지역 차별을 규탄하고 개선을 촉구하는 무기한 릴레이 시위에 돌입했다.

전국언론노조와 전국 민주언론시민연합(민언련)은 1일 오전 11시 30분 경기도 성남시의 네이버 본사(그린팩토리) 앞에서 1인 시위를 시작했다. 이날 시위에는 오정훈 전국언론노동조합위원장, 전대식 지역신문노동조합협의회 의장(부산일보 지부장), 김명래 경인일보지부장, 민진영 경기민주언론시민연합 사무처장 등이 참여했다.

이들은 1인 시위를 통해 ‘네이버 뉴스 서비스 지역 언론 배제 개선’을 요구하고 ‘지역 공론장 형성을 위한 네이버의 공적 책임’을 촉구했다. 전국언론노조와 민언련은 매주 월요일마다 네이버 본사 앞 시위를 진행할 예정이다.

네이버는 최근 뉴스 서비스에 인공지능 에어스(AiRS) 알고리즘을 적용하는 방식으로 뉴스 편집 기능을 개편했다. 이후 지역 언론사 뉴스의 노출이 현격하게 줄어들었다. 아울러 100여 개 모바일 콘텐츠 제휴 언론사 중 독자가 구독을 선택할 수 있는 ‘채널’ 제휴사 44곳을 선정했는데 이 과정에서 지역 언론을 철저하게 배제했다. 이에 반발해 전국언론노조뿐 아니라 한국지방신문협회, 대한민국지방신문협의회 등 지역 신문 단체도 공동 성명을 발표하며 개선을 요구하고 나섰다. 전국시도의회의장협의회는 최근 총회에서 ‘네이버 지역 언론 배제 반대 성명’을 채택하기도 했다. 하지만 이 같은 반발에도 네이버는 뚜렷한 해결책을 내지 않고 있다.

오정훈 위원장은 1인 시위에서 “네이버는 해결책을 내놓기는커녕 뉴스제휴평가위원회에만 책임을 떠넘기고 있다”며 “지역 언론 배제 문제의 해결을 위한 대화 요구에 즉각 응답해 뉴스 유통사업자로서의 사회적 역할을 수행해야 한다”고 촉구했다.

전대식 의장은 “2005년 당시 네이버는 모든 언론사에 뉴스 유통망을 제공하는 우군이었지만 15년 만에 갑질하고 횡포하는 기업으로 전락했다”며 “지역 언론 종사자들이 만든 콘텐츠가 네이버에서 사라진 현실을 놓고 대화하고 상생적으로 풀어야 한다”면서 협의 창구 개설을 요구했다.

민언련은 국내 1위 포털 네이버가 지역 공론장을 만드는 사회적 책임을 외면하는 것은 현 정부의 지방분권 강화 정책에 위배되는 것이라고 지적했다.

민진영 사무처장은 “네이버가 지역신문에 대한 보도를 배제하고 시민들과의 소통 창구를 차단하는 것은 현 정부 정책인 지방분권 강화, 민주주의 정착이라는 큰 의제를 거역하는 것”이라며 “이런 행태는 반드시 중단돼야 하고 다양한 소식들이 소비자와 시민에게 전달돼야 한다”고 강조했다.

출처 : 제주新보(http://www.jejunews.com)'''

substring = "네이버"

result=text.count(substring)
print(result)

13

In [8]:
text = '''I like orange! I like orange!'''
result = re.findall("orange",text)
print(result)

['orange', 'orange']

In [9]:
text = '''I like orange! I like orange!'''
result = re.findall("like orange",text)
print(result)

['like orange', 'like orange']

In [12]:
text = '''I like orange! I like orange!'''
result = re.findall(r"^I like",text)
print(result)

['I like']

In [11]:
text = '''I like orange! I like orange!'''
result = re.findall("orange!$",text)
print(result)

['orange!']

In [14]:
text = 'I like orange! 200$ I like orange! 200$'
re.findall('\$',text)

['$', '$']

In [18]:
text = 'I like orange! 200$ I like orange! 200$'
re.findall(r'.',text)

['I',
 ' ',
 'l',
 'i',
 'k',
 'e',
 ' ',
 'o',
 'r',
 'a',
 'n',
 'g',
 'e',
 '!',
 ' ',
 '2',
 '0',
 '0',
 '$',
 ' ',
 'I',
 ' ',
 'l',
 'i',
 'k',
 'e',
 ' ',
 'o',
 'r',
 'a',
 'n',
 'g',
 'e',
 '!',
 ' ',
 '2',
 '0',
 '0',
 '$']

In [17]:
text = 'I like orange! 200$ I like orange! 200$'
re.findall(r'....',text)#.당 문자1개->4개씩 추출

['I li', 'ke o', 'rang', 'e! 2', '00$ ', 'I li', 'ke o', 'rang', 'e! 2']

In [20]:
text = 'I like orange! 200$ I like orange! 200$'
re.findall(r'[orn]',text)#or를 의미

['o', 'r', 'n', 'o', 'r', 'n']

In [21]:
text = 'I like orange! 200$ I like orange! 200$'
re.findall(r'[orn][orn].',text)

['ora', 'ora']

In [24]:
text = 'I like orange! 200$ I like orange! 200$'
re.findall(r'[0-9]',text)

['2', '0', '0', '2', '0', '0']

In [26]:
text = 'I like orange! 200$ I like orange! 200$'
re.findall(r'[A-Za-z]',text)

['I',
 'l',
 'i',
 'k',
 'e',
 'o',
 'r',
 'a',
 'n',
 'g',
 'e',
 'I',
 'l',
 'i',
 'k',
 'e',
 'o',
 'r',
 'a',
 'n',
 'g',
 'e']

In [27]:
text = "I like orange! 200$ 오렌지! 200$"
re.findall(r'[가-힣]',text)

['오', '렌', '지']

In [28]:
text = 'I like orange! 200$ I like orange! 200$'
re.findall(r'[^A-Za-z]',text)#[]안에서 ^는 not의 의미

[' ',
 ' ',
 '!',
 ' ',
 '2',
 '0',
 '0',
 '$',
 ' ',
 ' ',
 ' ',
 '!',
 ' ',
 '2',
 '0',
 '0',
 '$']

In [29]:
text = 'I like orange! 200$ I like orange! 200$'
re.findall(r'(orange)',text)

['orange', 'orange']

In [32]:
text = 'I like orange! 200$ I like orange! 200$'
re.findall(r'(orange|like)',text)

['like', 'orange', 'like', 'orange']

In [35]:
text = 'I like orange! abc I like orange! ac'
re.findall(r'a.c',text)

['abc']

In [36]:
text = 'I like orange! abc I like orange! ac'
re.findall(r'a.?c',text)

['abc', 'ac']

In [37]:
text = 'I like orange! abc I like orange! ac abbbc'
re.findall(r'[^ ]+',text)

['I', 'like', 'orange!', 'abc', 'I', 'like', 'orange!', 'ac', 'abbbc']

In [38]:
text = 'I like orange! abc I like orange! ac abdbdc'
re.findall(r'a[bd]*c',text)

['abc', 'ac', 'abdbdc']

In [39]:
text = 'I like orange! 200$ I like orange! 200$'
re.findall(r'.{5}',text)

['I lik', 'e ora', 'nge! ', '200$ ', 'I lik', 'e ora', 'nge! ']

In [42]:
text = 'abcc abc abbab abccabcabd'
re.findall(r'[abc]{3}',text)

['abc', 'abc', 'abb', 'abc', 'cab', 'cab']

In [47]:
text = 'I like orange! 200$ I like orange! 200$'
re.findall(r'\w',text)

['I',
 'l',
 'i',
 'k',
 'e',
 'o',
 'r',
 'a',
 'n',
 'g',
 'e',
 '2',
 '0',
 '0',
 'I',
 'l',
 'i',
 'k',
 'e',
 'o',
 'r',
 'a',
 'n',
 'g',
 'e',
 '2',
 '0',
 '0']

In [48]:
text = 'I like orange! 200$ I like orange! 200$'
re.findall(r'\d',text)

['2', '0', '0', '2', '0', '0']

In [49]:
text = 'I like orange! 200$ I like orange! 200$'
re.findall(r'\s',text)

[' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [56]:
numbers = '''
010-2334-3234
02-302-3033
010-1321-4043
02-01-32
33-3303-3033
016-444-3042
'''

result = re.findall(r'[0-9]{3}-[0-9]{3,4}-[0-9]{4}',numbers)
for i in result:
    print(i)

010-2334-3234
010-1321-4043
016-444-3042

In [65]:
numbers = '''
010-2334-3234
02-302-3033
010-1321-4043
02-01-32
33-3303-3033
016-444-3042
'''

result = re.finditer(r'[0-9]{3}-[0-9]{3,4}-[0-9]{4}',numbers)
for i in result:
    print(i.group())

010-2334-3234
010-1321-4043
016-444-3042

In [70]:
text = '''[앵커]

바로 좀 팩트체크를 해 보겠습니다. 제모를 하면 마약검사에서 빠져나갈 수 있다. 연예인 마약사건과 맞물려서 이런 글들이 온라인에서 확산됐습니다. 수사기법을 비웃는 듯한 내용입니다. 팩트체크팀이 국립과학수사연구원의 도움을 받아서 확인을 했습니다. 결론은 마약 성분은 체모 외에도 온몸을 흔적을 남긴다는 겁니다.
오대영 기자 나와 있습니다. 구체적으로 어떤 글들이 퍼져 있습니까?

[기자]

전신 제모를 하면 문제가 없다. 염색, 탈색을 하면 된다. 눈썹은 검사해도 소용없다 등의 내용입니다.
포털사이트에서 마약 검사라고 검색을 하면 모발 검사 안 걸리는 법이라는 연관 검색어까지 뜹니다.'''

results =re.sub(r'[\[\]?.,]',"",text)
print(results)

앵커

바로 좀 팩트체크를 해 보겠습니다 제모를 하면 마약검사에서 빠져나갈 수 있다 연예인 마약사건과 맞물려서 이런 글들이 온라인에서 확산됐습니다 수사기법을 비웃는 듯한 내용입니다 팩트체크팀이 국립과학수사연구원의 도움을 받아서 확인을 했습니다 결론은 마약 성분은 체모 외에도 온몸을 흔적을 남긴다는 겁니다
오대영 기자 나와 있습니다 구체적으로 어떤 글들이 퍼져 있습니까

기자

전신 제모를 하면 문제가 없다 염색 탈색을 하면 된다 눈썹은 검사해도 소용없다 등의 내용입니다
포털사이트에서 마약 검사라고 검색을 하면 모발 검사 안 걸리는 법이라는 연관 검색어까지 뜹니다

In [206]:
text = '''
jkilee@gmail.com
kttredef@naver.com
akdef!aa.com
adekik@best.kr
abkereff@aacde
adefgree@korea.co.kr'''

In [207]:
results = re.findall('[A-Za-z0-9]+@[a-z]+\.[a-z].+',text)
results = list(results)
for result in results:
    print(result)

jkilee@gmail.com
kttredef@naver.com
adekik@best.kr
adefgree@korea.co.kr

In [203]:
emails = '''
jkilee@gmail.com
kttredef@naver.com
akdef!aa.com
adekik@best.kr
abkereff@aacde
adefgree@korea.co.kr
'''

for email in emails.split('\n'):
    matched = re.search('[a-zA-Z].*@[a-zA-Z].+\.[a-zA-Z].+',email)
    if matched:
        print(matched.group())

jkilee@gmail.com
kttredef@naver.com
adekik@best.kr
adefgree@korea.co.kr

In [208]:
text = '''안녕하세요 저는 <em>홍길동</em> 입니다. 나이는 24살 세계 최고의 <a href="aa.aa.com">데이터 분석가</a>가 되고싶습니다.'''

results = re.sub(r'[\</=."\>A-Za-z]',"",text)
print(results)

안녕하세요 저는 홍길동 입니다 나이는 24살 세계 최고의  데이터 분석가가 되고싶습니다

In [214]:
text = '''안녕하세요 저는 <em>홍길동</em> 입니다. 나이는 24살 세계 최고의 <a href="aa.aa.com">데이터 분석가</a>가 되고싶습니다.'''

results = re.sub(r'<[^<]*>',"",text)
print(results)

안녕하세요 저는 홍길동 입니다. 나이는 24살 세계 최고의 데이터 분석가가 되고싶습니다.

In [209]:
text = '''안녕하세요 저는 <em>홍길동</em> 입니다. 나이는 24살 세계 최고의 <a href="aa.aa.com">데이터 분석가</a>가 되고싶습니다.'''

results = re.sub(r'<.+?>',"",text)
print(results)

안녕하세요 저는 홍길동 입니다. 나이는 24살 세계 최고의 데이터 분석가가 되고싶습니다.

In [218]:
text = '''<p>
<span>네이버가 뉴스 서비스에 인공지능(AI)을 도입해 페이지 뷰(PV)를 늘리고 이용자를 끌어 모으고 있다.</span>
<span>네이버는 5일 오전 서울 강남구 그랜드 인터컨티넨털 호텔에서 AI 콜로키움 2019를 열고 이 같은 AI 성과와 전략을 소개했다.</span>
<span>이날 기조연설에서 김광현 네이버 서치앤클로바 리더는 "AI 뉴스 추천 시스템인 에어스(AiRS)를 도입하면서 뉴스 소비량이 확대되고 있다" 고 말했다.</span>
</p>'''

results = re.sub(r'<[^<]*>',"",text)
results = results.strip("\n")
result = re.split(r'\n',results)
result = list(result)
result

['네이버가 뉴스 서비스에 인공지능(AI)을 도입해 페이지 뷰(PV)를 늘리고 이용자를 끌어 모으고 있다.',
 '네이버는 5일 오전 서울 강남구 그랜드 인터컨티넨털 호텔에서 AI 콜로키움 2019를 열고 이 같은 AI 성과와 전략을 소개했다.',
 '이날 기조연설에서 김광현 네이버 서치앤클로바 리더는 "AI 뉴스 추천 시스템인 에어스(AiRS)를 도입하면서 뉴스 소비량이 확대되고 있다" 고 말했다.']

In [271]:
text = '''<p>
<span>네이버가 뉴스 서비스에 인공지능(AI)을 도입해 페이지 뷰(PV)를 늘리고 이용자를 끌어 모으고 있다.</span>
<span>네이버는 5일 오전 서울 강남구 그랜드 인터컨티넨털 호텔에서 AI 콜로키움 2019를 열고 이 같은 AI 성과와 전략을 소개했다.</span>
<span>이날 기조연설에서 김광현 네이버 서치앤클로바 리더는 "AI 뉴스 추천 시스템인 에어스(AiRS)를 도입하면서 뉴스 소비량이 확대되고 있다" 고 말했다.</span>
</p>'''

results = re.sub(r'<[^<]*>',"",text)
results = results.split('\n')
results = list(results)
print(results)

['', '네이버가 뉴스 서비스에 인공지능(AI)을 도입해 페이지 뷰(PV)를 늘리고 이용자를 끌어 모으고 있다.', '네이버는 5일 오전 서울 강남구 그랜드 인터컨티넨털 호텔에서 AI 콜로키움 2019를 열고 이 같은 AI 성과와 전략을 소개했다.', '이날 기조연설에서 김광현 네이버 서치앤클로바 리더는 "AI 뉴스 추천 시스템인 에어스(AiRS)를 도입하면서 뉴스 소비량이 확대되고 있다" 고 말했다.', '']

In [219]:
import requests
from bs4 import BeautifulSoup

In [223]:
url = 'https://scrapying-study.firebaseapp.com/03/'

response = requests.get(url)
soup = BeautifulSoup(response.text,"html.parser")

result_pop = []

li_list = soup.select('ul[class="lst_pop"] > li')
for li in li_list:
    result_pop.append([li.select_one('a').text,li.select_one('span').text])
print(result_pop)

result_major = []

li_major = soup.select('ul[class="lst_major"] > li')
for a in li_major:
    result_major.append([a.select_one('a').text,a.select_one('span').text])
print(result_major)

[['써니전자', '5,000'], ['삼성전자', '55,200'], ['안랩', '81,000'], ['케이엠더블..', '57,300'], ['피피아이', '12,600'], ['KT&G', '92,500'], ['삼성전자우', '45,600'], ['대양금속', '10,550'], ['SK하이닉스', '94,700'], ['SK텔레콤', '234,000']]
[['다우산업', '28,647.43'], ['나스닥', '9,015.03'], ['홍콩H', '11,320.56'], ['상해종합', '3,085.20'], ['니케이225', '23,656.62']]

In [225]:
url = 'https://scrapying-study.firebaseapp.com/03/'

response = requests.get(url)
soup = BeautifulSoup(response.text,"html.parser")

result_pop = []

li_list = soup.select('ul[class="lst_pop"] > li')
for li in li_list:
    result_pop.append([li.select_one('a').text,li.select_one('img').attrs['alt']])
print(result_pop)

result_major = []

li_major = soup.select('ul[class="lst_major"] > li')
for a in li_major:
    result_major.append([a.select_one('a').text,a.select_one('img').attrs['alt']])
print(result_major)

[['써니전자', '상한'], ['삼성전자', '하락'], ['안랩', '상승'], ['케이엠더블..', '상승'], ['피피아이', '상한'], ['KT&G', '하락'], ['삼성전자우', '상승'], ['대양금속', '하한'], ['SK하이닉스', '상승'], ['SK텔레콤', '하락']]
[['다우산업', '상한'], ['나스닥', '상한'], ['홍콩H', '상한'], ['상해종합', '상한'], ['니케이225', '하락']]

In [226]:
url = 'https://scrapying-study.firebaseapp.com/03/'

response = requests.get(url)
soup = BeautifulSoup(response.text,"html.parser")

result_pop = []

li_list = soup.select('ul[class="lst_pop"] > li[class="up"]')
for li in li_list:
    result_pop.append([li.select_one('a').text,li.select_one('span').text])
print(result_pop)

result_major = []

li_major = soup.select('ul[class="lst_major"] > li[class="up"]')
for a in li_major:
    result_major.append([a.select_one('a').text,a.select_one('span').text])
print(result_major)

[['써니전자', '5,000'], ['안랩', '81,000'], ['케이엠더블..', '57,300'], ['피피아이', '12,600'], ['삼성전자우', '45,600'], ['SK하이닉스', '94,700']]
[['다우산업', '28,647.43'], ['나스닥', '9,015.03'], ['홍콩H', '11,320.56'], ['상해종합', '3,085.20']]

In [246]:
url = 'https://scrapying-study.firebaseapp.com/03/'

response = requests.get(url)
soup = BeautifulSoup(response.text,"html.parser")

result_pop = []

li_list = soup.select('ul[class="lst_pop"] > li')
for li in li_list:
    if li.attrs['class'][0] == 'up':
        result_pop.append([li.select_one('a').text,li.select_one('span').text])
print(result_pop)

result_major = []

li_major = soup.select('ul[class="lst_major"] > li')
for li in li_major:
    if li.attrs['class'][0] == 'up':
        result_major.append([li.select_one('a').text,li.select_one('span').text])
print(result_major)

[['써니전자', '5,000'], ['안랩', '81,000'], ['케이엠더블..', '57,300'], ['피피아이', '12,600'], ['삼성전자우', '45,600'], ['SK하이닉스', '94,700']]
[['다우산업', '28,647.43'], ['나스닥', '9,015.03'], ['홍콩H', '11,320.56'], ['상해종합', '3,085.20']]

In [283]:
url = 'https://scrapying-study.firebaseapp.com/03/'

response = requests.get(url)
soup = BeautifulSoup(response.text,"html.parser")

index = ['이름','분양가','유형','분양유형','세대수','평형']

name = soup.select('ul[class="sale_list _sale_list"] a[target="_blank"]')
name_list = []
for i in range(len(name)):
    name_list.append(name[i].text)
#print(name_list)

price = soup.select('dl[class="detail_info"] dd')
price_list = []
for i in range(len(price)):
    price_list.append(price[i].text)
#print(price_list)

value = []
for i in range(len(name)):
    value.append([name_list[i],price_list[4*i][:-2],price_list[4*i+1][:3],
                  price_list[4*i+1][4:],price_list[4*i+2].split("|")[0],
                  price_list[4*i+2].split("|")[1],price_list[4*i+3]])
#print(value)

result = []
for i in range(len(name)):
    dic = dict(zip(index,value[i]))
    result.append(dic)
result

[{'이름': 'H하우스장위',
  '분양가': '16,000 ',
  '유형': '아파트',
  '분양유형': '일반민간임대',
  '세대수': '분양 134세대',
  '평형': '45㎡~65㎡'},
 {'이름': '고덕리엔파크2단지 장기전세',
  '분양가': '38,400 ',
  '유형': '아파트',
  '분양유형': '장기전세주택',
  '세대수': '분양 1세대',
  '평형': '149㎡'},
 {'이름': '신정이펜하우스3단지 장기전세',
  '분양가': '39,040 ',
  '유형': '아파트',
  '분양유형': '장기전세주택',
  '세대수': '분양 1세대',
  '평형': '148㎡'},
 {'이름': '천왕이펜하우스2단지 장기전세',
  '분양가': '38,240 ',
  '유형': '아파트',
  '분양유형': '장기전세주택',
  '세대수': '분양 1세대',
  '평형': '142㎡'},
 {'이름': '송파파크데일2단지 장기전세',
  '분양가': '45,600 ',
  '유형': '아파트',
  '분양유형': '장기전세주택',
  '세대수': '분양 1세대',
  '평형': '150㎡'}]

In [51]:
url = 'https://scrapying-study.firebaseapp.com/03/'

response = requests.get(url)
soup = BeautifulSoup(response.text,"html.parser")

total = []
index = ['이름','분양가','유형','분양유형','세대수','평형']

li_list = soup.select("ul.sale_list > li")

for li in li_list:
    result = {}
    result['이름'] = li.select_one("a").text 
    
    dds = li.select_one("dl.detail_info").select("dd")
    result['분양가'] = ''.join(re.findall(r'\d',dds[0].text))
    
    types = dds[1].text.split('|')
    result['유형'] = types[0]
    result['분양유형'] = types[1]
    
    sizes = dds[2].text.split('|')
    result['세대수'] = sizes[0]
    result['평형'] = sizes[1]
    
    total.append(result)
    
# total
dds

[<dd class="txt"><strong class="point">45,600</strong> 만원</dd>,
 <dd class="txt">아파트<span class="bar">|</span>장기전세주택</dd>,
 <dd class="txt">분양 1세대<span class="bar">|</span>150㎡</dd>,
 <dd class="txt">서울시 송파구 마천동</dd>]

In [2]:
import requests
from bs4 import BeautifulSoup

url = 'https://movie.naver.com/movie/sdb/rank/rmovie.nhn'
response = requests.get(url)
soup = BeautifulSoup(response.text,"html.parser")
result = soup.select('.list_ranking tr > td.title a')

for i,v in enumerate(result):
    print(i+1,v.text)

1 조제
2 원더 우먼 1984
3 이웃사촌
4 도굴
5 언플랜드
6 런
7 러브 액츄얼리
8 극장판 바이올렛 에버가든
9 800
10 호프
11 리플레이
12 테넷
13 개 같은 것들
14 퍼스트 러브
15 콜
16 삼진그룹 영어토익반
17 미드나이트 스카이
18 발레리안: 천 개 행성의 도시
19 더 프롬
20 잔칫날
21 블랙 위도우
22 스웨그
23 덩케르크
24 라이어트: 기계들의 역습
25 러브레터
26 나이팅게일
27 파티마의 기적
28 뱅가드
29 인터스텔라
30 조제, 호랑이 그리고 물고기들
31 애비규환
32 모텔리어
33 세트플레이
34 가나의 혼인잔치: 언약
35 집착
36 그날이 온다
37 그린 북
38 썸머 85
39 내 어깨 위 고양이, 밥 2
40 아카이브
41 뮤직 앤 리얼리티
42 국제수사
43 누군가 어디에서 나를 기다리면 좋겠다
44 소년시절의 너
45 화양연화
46 먼 훗날 우리
47 007 노 타임 투 다이
48 운디네
49 그린랜드
50 라라랜드

In [73]:
url = 'https://finance.naver.com/sise/sise_quant.nhn'
response = requests.get(url)
soup = BeautifulSoup(response.text,"html.parser")

name = soup.select('.box_type_l > .type_2  a')
# price = soup.select('.box_type_l > .type_2 td.number')
t_price = soup.find_all('td',class_='number')
t_margin = soup.find_all('span',class_='tah')

# for i,v in enumerate(t_margin):
#     if i % 2 == 0:
#         margin = v.text    
#         print(margin)
        
        
# for idx,val in enumerate(name):
#      print(idx+1,val.text)
        
# t_price = list(t_price)

# for i in range(len(t_price)):
#     print(t_price[i*10].text)

In [140]:
url = 'https://finance.naver.com/sise/sise_quant.nhn'
response = requests.get(url)
soup = BeautifulSoup(response.text,"html.parser")

result = []
tr_list = soup.select('div.box_type_l > table.type_2')

for tr in tr_list:
    name = tr.select('a') #종목명
    price = tr.select('td.number') #현재가
    for i in range(len(name)):
        print(i+1,name[i].text,price[i*10].text)

1 KODEX 200선물인버스2X 2,870
2 KODEX 코스닥150선물인버스 4,605
3 현대약품 8,120
4 금호에이치티 2,530
5 KODEX 레버리지 20,775
6 KODEX 코스닥150 레버리지 15,505
7 LG디스플레이 18,250
8 미래아이앤지 384
9 KODEX 인버스 4,545
10 서울식품 249
11 알루코 5,170
12 영진약품 8,280
13 까뮤이앤씨 3,000
14 계양전기 5,070
15 이아이디 361
16 삼성전자 73,900
17 TCC스틸 5,640
18 KEC 2,935
19 대한전선 1,350
20 LG전자 119,500
21 명문제약 7,970
22 신성이엔지 3,370
23 KODEX 코스닥 150 14,685
24 국제약품 10,450
25 남성 4,210
26 삼성중공업 6,960
27 팬오션 4,530
28 디아이씨 2,955
29 삼성 레버리지 WTI원유 선물 ETN 400
30 ESR켄달스퀘어리츠 5,190
31 세화아이엠씨 543
32 현대퓨처넷 3,800
33 삼부토건 4,430
34 쎌마테라퓨틱스 6,580
35 KODEX 200 37,110
36 신한 레버리지 WTI원유 선물 ETN(H) 345
37 유나이티드제약 64,800
38 아남전자 2,320
39 한국전력 26,800
40 써니전자 4,630
41 명신산업 45,700
42 대영포장 1,715
43 LG 86,400
44 대웅 54,400
45 한온시스템 16,150
46 영화금속 2,190
47 LG유플러스 12,050
48 한화생명 2,440
49 삼아알미늄 11,400
50 유니퀘스트 14,200
51 대한해운 2,935
52 덕양산업 1,740
53 화천기계 2,695
54 TIGER 200선물인버스2X 2,970
55 만도 59,000
56 부광약품 29,000
57 SK증권 792
58 HMM 13,050
59 후성 10,950
60 에이프로젠제약 1,300
61 태림포장 6,250
62 아시아나항공 4,210
63 LG상사 25,100
64 신풍제지 4,160
65 조일알미늄 780
66 한창 1,410
67 LG이노텍 185,000
68 DB하이텍 40,100
69 삼성제약 4,430
70 SK하이닉스 116,000
71 KR모터스 1,115
72 삼성 인버스 2X WTI원유 선물 ETN 1,405
73 진원생명과학 20,500
74 LG전자우 47,500
75 파미셀 16,750
76 에이프로젠 KIC 2,000
77 신풍제약 113,500
78 오리엔트바이오 1,230
79 두산중공업 13,100
80 보해양조 923
81 대우건설 4,480
82 에넥스 1,195
83 필룩스 3,930
84 동화약품 20,450
85 우리종금 541
86 삼성전자우 69,900
87 콤텍시스템 1,515
88 TIGER 200 IT 32,890
89 한화솔루션 46,400
90 KODEX 2차전지산업 14,845
91 한창제지 2,505
92 TIGER 200선물레버리지 15,585
93 두산인프라코어 8,080
94 세방전지 61,200
95 광동제약 10,300
96 보락 2,505
97 한솔홈데코 2,030
98 큐로 625
99 남선알미늄 4,610
100 쌍방울 623

In [139]:
url = 'https://finance.naver.com/sise/sise_quant.nhn'
response = requests.get(url)
soup = BeautifulSoup(response.text,"html.parser")

tr_list = soup.select('div.box_type_l > table.type_2')

for tr in tr_list:
    if tr.select_one('img').attrs['alt'] == '상승':
        name = tr.select('a')
        price = tr.select('td.number')
        
        for i in range(len(name)):
            print(i+1,name[i].text,price[i*10].text)

In [ ]:
#         name = tr.select('a')
#         price = tr.select('td.number')


#         for i in range(len(name)):
#             print(i+1,name[i].text,price[i*10].text)

In [136]:
URL = "https://scrapying-study.firebaseapp.com/03/"
response = requests.get(URL)
soup = BeautifulSoup(response.text,"html.parser")
result = []
li_list = soup.select("#popularItemList > li")
for li in li_list:
    print(li.select_one('img').attrs['alt'])
#     result.append([li.select_one('a').text, li.select_one('span').text])
    
# result

상한
하락
상승
상승
상한
하락
상승
하한
상승
하락